.yadm/repo.git
.yadm/config

# Ignore encrypted files
passwords

# Ignore symbolic links
local-configuration.nix
hardware-configuration.nix

# ddclient passwords
extra-services/ddclient-account.nix

extra-services/radicale-passwords*

desktop-environments/nide-src.nix


# Ignore swap files
*.swp
*~
